@page "/users"
@inherits BotComponentBase<PlayerInfoEntity>
@attribute [TabItemOption(Text = "花名册")]
<PageTitle>花名册</PageTitle>

<h1>花名册</h1>

<p>😳😳😳😳😳😳</p>

@* OnSaveAsync="OnSaveAsync"
       OnDeleteAsync="OnDeleteAsync"*@
<Table class="table-users" TItem="PlayerInfoEntity"
       @bind-SelectedRows="SelectedItems"
       Height="600"
       IsPagination="true"
       PageItemsSource="@PageItemsSource"
       OnSaveAsync="OnSaveAsync"
       RenderMode="TableRenderMode.Table"
       IsFixedHeader="true"
       IsStriped="true"
       IsBordered="true"
       ShowToolbar="true"
       ShowDefaultButtons="true"
       ShowDeleteButton="true"
       ShowPageInfo="true"
       ShowAddButton="true"
       ShowSearchButton="true"
       ShowExtendButtons="true"
       ShowExtendEditButton="true"
       ShowExtendDeleteButton="true"
       ShowLoadingInFirstRender="true"
       ShowSkeleton="true"
       AddModalTitle="🙄 添加玩家"
       EditModalTitle="🤩 编辑玩家"
       ShowEmpty="true"
       AllowDragColumn="true"
       IsMultipleSelect="true"
       OnQueryAsync="OnQueryAsync">

    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Width="260">
            <Template Context="value">
                <div class="d-flex">
                    @{
                        var row = (PlayerInfoEntity)value.Row;
                    }
                    <div>
                        <img src="@row.Avatar" />
                    </div>
                    <div class="ps-2">
                        <div>@value.Value</div>
                        <div class="user-demo-address">@row.Uuid</div>
                    </div>
                </div>
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.KookUserId" Width="100" />
        <TableColumn @bind-Field="@context.SignInCount" Width="100" />
        <TableColumn @bind-Field="@context.EmeraldVal" Width="100" />
    </TableColumns>

    <EditTemplate>
        <div class="row g-3">
            <div class="col-sm-6">
                <FloatingLabel DisplayText="玩家正版ID" @bind-Value="@context.Name" TValue="string" IsSelectAllTextOnFocus="true" />
            </div>
            <div class="col-sm-6">
                <FloatingLabel DisplayText="UUID" @bind-Value="@context.Uuid" TValue="string" IsSelectAllTextOnFocus="true" />
            </div>
            <div class="col-6">
                <AvatarUpload @bind-Value="@context.Avatar" TValue="string" Accept="image/*" IsSingle="true" ShowProgress="true" IsCircle="true" OnChange="@SaveToFile"
                              OnDelete="@(fileName => Task.FromResult(true))"></AvatarUpload>
            </div>
            <div class="col-sm-6">
                <FloatingLabel DisplayText="KOOK用户ID" IsDisabled="true" @bind-Value="@context.KookUserId" TValue="string" IsSelectAllTextOnFocus="true" />
            </div>

            <div class="col-sm-12">
                <Select IsVirtualize="true"
                        ShowLabel="true"
                        @bind-Value="@context.ServerId"
                        DisplayText="Minecraft服务器"
                        OnQueryAsync="ServerDrawDropOnQueryAsync"
                        ShowSearch="true"></Select>
            </div>

            <div class="col-sm-6">
                <FloatingLabel DisplayText="签到次数" @bind-Value="@context.SignInCount" TValue="int" IsSelectAllTextOnFocus="true" />
            </div>
            <div class="col-sm-6">
                <FloatingLabel DisplayText="绿宝石数量" @bind-Value="context.EmeraldVal" TValue="int" IsSelectAllTextOnFocus="true" />
            </div>
        </div>
    </EditTemplate>
</Table>
